  <!-- Sidebar -->
    <div class="col-md-2 d-none d-md-block">
      <%= render 'shared/sidebar' %>
    </div>


<div class="container mt-5">
  <h1><%= @aula.title %></h1>
  <hr>
  <div class="content">
    <p><%= simple_format(@aula.content) %></p>
  </div>

  <%= link_to 'Voltar para Aulas', aulas_path, class: 'btn btn-secondary mt-3' %>
</div>
