<!-- app/views/notifications/index.html.erb -->
<h2>Notificações</h2>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= notification.message %> - <%= notification.created_at.strftime("%d/%m/%Y %H:%M") %>
      <% if notification.read %>
        <span class="badge bg-success">Lida</span>
      <% else %>
    <%= button_to 'Marcar como lida', mark_as_read_notification_path(notification), method: :patch, remote: true, class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </li>
  <% end %>
</ul>