// app/views/notifications/mark_as_read.js.erb
$("li[data-notification-id='<%= @notification.id %>']").find('.btn').remove();
$("li[data-notification-id='<%= @notification.id %>']").append('<span class="badge bg-success">Lida</span>');
