<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block">
  <%= render 'shared/sidebar' %>
</div>

<div class="container mt-5">
  <% content_for :title, "Editing postagem" %>
    <h1>Editando a postagem</h1>
    <%= render "form", postagem: @postagem %>
    <br>
  <div>
    <%= link_to "Mostrar esta postagem", @postagem %> |
    <%= link_to "Voltar para postagens", postagems_path %>
  </div>
 </div>  




