/* Sidebar fixa à esquerda */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Sidebar ocupará toda a altura da página */
  width: 200px; /* Largura da sidebar */
  background-color: #f8f9fa; /* Cor de fundo leve */
  padding: 20px;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombras para destaque */
}

/* Espaçamento adicional para o conteúdo principal */
.offset-md-2 {
  margin-left: 220px; /* Compensa a largura da sidebar */
}

/* Scroll lock aplicado à div dos cards */
.card-container {
  max-height: 600px; /* Limita a altura dos cards */
  overflow-y: scroll; /* Habilita rolagem interna */
  padding-right: 15px; /* Evita que a rolagem sobreponha o conteúdo */
  padding-left: 15px;  /* Adiciona padding à esquerda */
}

/* Estilos personalizados para os cards */
.card-custom {
  height: 350px; /* Altura fixa dos cards */
  max-width: 100%; /* Garante que o card ocupe 100% da coluna */
  margin-bottom: 30px; /* Espaçamento vertical entre os cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos cards */
}

/* Centralização e estilo do conteúdo dos cards */
.card-body-custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.card-title {
  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  text-align: center;
  margin-bottom: 10px;
}

/* Garante que o botão fique no final do card */
.card-custom .btn {
  margin-top: auto;
}

/* Estilos para o banner à direita */
.banner {
  position: fixed; /* Torna o banner fixo na tela */
  top: 100px; /* Posiciona o banner abaixo do topo */
  right: 0; /* Fixa o banner na lateral direita */
  width: 400px; /* Reduz a largura do banner */
  height: 750px; /* Ajusta a altura automaticamente */
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para destaque */
}

.banner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
