/* Estilos para a página Home */
.container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* Títulos */
  h1 {
    font-size: 2.5rem;
    color: #2c3e50; /* Azul escuro */
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.75rem;
    color: #34495e; /* Cinza escuro */
    margin-bottom: 20px;
  }
  
  /* Cards */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Botões */
  .btn-primary {
    background-color: #3498db;
    border-color: #2980b9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
    border-color: #1c6e9e;
  }
  
  /* Alinhamento central dos textos */
  .text-center {
    text-align: center;
  }
  
  /* Margens */
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .large-image {
    width: 200%;  /* Aumenta a largura da imagem para 100% da coluna */
    height: auto; /* Mantém a proporção correta */
  }
  
  /* Efeitos de hover nos links */
  .text-primary:hover {
    color: #2980b9 !important;
  }
  .text-success:hover {
    color: #27ae60 !important;
  }
  .text-info:hover {
    color: #16a085 !important;
  }

  /* Efeitos de hover nas colunas */
  .col-md-6:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .form-control-underline {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .form-control-underline:focus {
    border-bottom-color: #007bff; /* Altera a cor ao focar no input */
  }